{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <script src="{% static 'js/jquery-1.12.3.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
</head>
<body>
<div class="g-hd">
    <!--头部公共部分-->
    <div id="j_topbar" class="m-topbar f-cb">
        <div class="g-top">
            <div class="g-topL">
                <a href="{% url 'app:index' %}" class="indexs">
                    <span class="I-ico" style="color: #f10582;">&#xe73d;</span> 衣扮网首页
                </a>
                {% if user.username %}
                    <a href="#" class="mine">我的账户： {{ user.username }}</a>
                    <a href="{% url 'app:logout' %}" class="logout">退出</a>
                {% else %}
                    <a href="{% url 'app:login' %}" class="land">
                        [登录]
                    </a>
                    <a href="{% url 'app:register' %}" class="register">
                        [注册]
                    </a>
                {% endif %}
            </div>
            <div class="g-topR">
                <a href="#" target="_blank" style="color: #f10582;">下载app&nbsp;</a>
                <a href="#" target="_blank">我的订单</a> <i>|</i>
                <a href="#" target="_blank">
                    <span class="I-ico" style="color: #f10582;">&#xe95f;</span>购物车0件
                </a> <i>|</i>
                <a href="#" target="_blank">
                    <span class="I-ico" style="color: gold;">&#xeaaa;</span>收藏夹
                </a> <i>|</i>
                <a href="#" target="_blank">互联支付</a> <i>|</i>
                <a href="#" target="_blank">帮助中心</a>
            </div>
        </div>
    </div>
    <div class="hd">
        <!--搜索栏-->
        <div class="top">
            <div class="logo"><a href="{% url 'app:index' %}" target="_blank"><img
                    src="{% static 'img/logo.png' %}"/></a></div>
            <div class="top-sch">
                <div class="form-box">
                    <form style="position: relative;">
                        <span class="I-ico" style="position: absolute; top: 10px; left: 5px;">&#xe679;</span>
                        <input type="text" class="u-sch-text" placeholder="请输入您要搜的商品关键字！"/>
                        <input type="submit" class="u-sch-btn" value="搜 索"/>
                    </form>
                </div>
                <div class="sch-keywords">
                    <span>热门搜索：</span>
                    <a href="#">连衣裙&nbsp;</a>
                    <a href="#">T桖&nbsp;</a>
                    <a href="#">POLO衫&nbsp;</a>
                    <a href="#">短裙&nbsp;</a>
                    <a href="#">半短裙&nbsp;</a>
                </div>
            </div>
        </div>
        <div class="shop_m-nav">
            <ul class="top_nav">
                <li><a href="{% url 'app:index' %}">首页</a></li>
                <li><a href="">女装特卖</a></li>
                <li><a href="">男装特卖</a></li>
                <li><a href="">童装特卖</a></li>
                <li><a href="">内衣特卖</a></li>
                <li><a href=""><span class="I-ico">&#xe6e0;</span> 限时特卖</a></li>
                <li><a href="">明星穿搭秘籍</a></li>
                <li><a href="">美衣盒子</a><img style="position: absolute; left: 800px; top: 120px;"
                                            src="{% static 'img/hot.gif' %}"/></li>
            </ul>
        </div>
    </div>
</div>
<div id="my-shopping-cart">
    <div class="cart-text">
        <h1>我的购物车</h1>
        <p>查看购物车商品清单，增加减少商品数量，并勾选想要的商品进入下一步操作。</p>
    </div>
    <div id="shopCar" class="shoppping-cart-content">
        <table>
            <thead>
            <tr class="shoppping-cart-content-head">
                <td class="w40">选择</td>
                <td class="w650">商品</td>
                <td class="w65">单价(元)</td>
                <td class="w120">数量</td>
                <td class="w65">小计(元)</td>
                <td class="w40">操作</td>
            </tr>
            </thead>
            <tbody>
            <th class="shoppping-cart-content-title" colspan="6">
                <div class="store-activity"><a href="">店铺活动，满29免运费</a></div>
            </th>
            {% for cart in carts %}
                <tr class="shoppping-cart-content-main" >
                    <td class="single-select"><input type="checkbox" class="check" cartid="{{ cart.id }}"></td>
                    <td>
                        <div class="cart-img"><img src="{{ cart.good.img }}" alt=""></div>
                        <div class="cart-detail">
                            <span class="cart-detail-goodsname">{{ cart.good.shop }}</span>
                            <span class="cart-detail-size">尺寸： {{ cart.size }}</span>
                            <span class="cart-detail-color">颜色： {{ cart.color }}</span>
                        </div>
                    </td>
                    <td>{{ cart.good.price }}</td>
                    <td class="cart-detail-number">
                        <a href="#"  class="minus" cartid="{{ cart.id }}">-</a>
                        <input type="text" maxlength="5"   value="{{ cart.number }}" style="border-color: rgb(194, 194, 194);" disabled>
                        <a href="#" class="plus" cartid="{{ cart.id }}">+</a>
                    </td>
                    <td class="subtotal" cartid="{{ cart.id }}"></td>
                    <td><a href="#" cartid="{{ cart.id }}" class="cart-delete">删除</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <th class="tstore-totle-money" colspan="6">
                <div class="TTM-text">商品合计:</div>
                <div class="TTM-all-money"><span>0</span>元</div>
            </th>
            </tfoot>
        </table>
        <div class="cart-content-foot">
            <div class="totle-money-text">
                <input type="checkbox" class="all-select">
                <span class="all-select-content">全选</span>
                商品总价(不含运费) <span id="totalPrice">0</span>元</div>
        </div>
        <div class="next-step">
            <div class="next-step-tetx">
                <a href="#">
                    <div class="NST-bg"><img src="{% static 'img/next.jpg' %}"/></div>
                    <span>下一步，填写核对购物信息</span>
                </a>
            </div>

        </div>
        <div class="gest-you-like">猜您喜欢的宝贝</div>
        <div class="show-you"></div>
    </div>
</div>
<script src="{% static 'js/cart.js' %}"></script>
</body>
</html>
