<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>

</head>
<body>
<ul>
    {% for goods in goodsdetail %}
        <li style="border-color: white">
            <a href="#">
                <img src="{{ goods.img }}">
            </a>
            <h6>{{ goods.shop }}</h6>
            <span>{{ goods.price }}</span>
            <del>{{ goods.old_price }}</del>
            <i>{{ goods.discount }}</i>
            <label>{{ goods.cart }}</label>
        </li>
    {% endfor %}
</ul>

</div>
</body>
</html>